@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Instrument+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display&family=Instrument+Serif&display=swap');

:root {
    --cor0: #86d1ff;
    --cor1: #2894E0;
    --cor2: #03588C;
    --cor3: #011640;
    --cor4: #010D26;

    --fonte-titulo: 'DM Serif Display', serif;
    --fonte-padrao: 'Instrument Serif', serif;
}

* {
    margin: 0px;
    padding: 0px;
}

/* ** Formulários ** */
div#formulario {
    font-family: var(--fonte-padrao);
    font-weight: bold;
    font-size: 1.2em;
    border: 2px solid var(--cor2);
    display: block;
    padding: 10px;
    letter-spacing: 2px;
}

div#formulario > label {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
}

/* ** Campos Textbox ** */
form > div#campoNome, div#campoEmail, div#campoTel {
    padding: 5px;
    background-color: #86d1ff;
    width: 45%;
    height: 45px;
    margin: auto;
}

form > div.campos input {
    background-color: #2894E0;
    font-size: 1em;
    width: 73%;
    height: 80%;
    border: 0px;
    border-radius: 15px;
    padding: 4px;
    margin-top: 5px;
}

form > div#campoNome input {
    transform: translate(20px, -4px);
}

form > div#campoEmail input {
    transform: translate(7px, -4px);
}

form > div#campoTel input {
    transform: translate(-3px, -4px);
}

/*  ** Radio ** */
div#campoSexo {
    display: block;
    padding: 5px;
    background-color: #86d1ff;
    width: 45%;
    height: 30px;
    text-align: left;
    margin: auto;
}

form > div.radio .radio_input {
    display: none;
}

form > div.radio .radio_label {
    display: inline-flex;
    padding: 5px 24px;
    background: var(--cor1);
    cursor: pointer;
    transform: translate(75px, -28px);
}

form > div.radio #esq_lbl {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

form > div.radio #dir_lbl {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

form > div.radio .radio_input:checked + .radio_label {
    background: #03588C; 
}

/*  ** TextArea ** */
.areaTexto > legend {
    margin-top: 15px;
}

textarea {
    background: #86d1ff;
    resize: none;
    margin-bottom: 15px;
}

#campoTexto {
    text-align: center;
}

/*  ** Botão** */
#btn {
    display: block;
    text-align: center;
}

#btn input {
    font-family: var(--fonte-padrao);
    font-size: 1em;
    font-weight: bold;
    width: 100px;
    height: 35px;
    padding: 5px;
    background: #2894E0;
    box-shadow: 0 0 3px var(--cor4);
    border-radius: 15px;
    cursor: pointer;
}

#btn input:hover {
    font-family: var(--fonte-padrao);
    font-size: 1em;
    color: #86d1ff;
    background: #03588C;
    box-shadow: 0 0 5px var(--cor4);
}

/* ** Fieldset and Checks ** */

fieldset {
    display: block;
    margin: auto;
    width: 44%;
    padding: 7px;
    border-color: var(--cor2);
}

.tipoEnsino {
    margin-top: 30px;
}

fieldset > input {
    width: 40px;
    height: 18px;
}

/* Fim dos Formulários */