@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Instrument+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display&family=Instrument+Serif&display=swap');

:root {
    --cor0: #86d1ff;
    --cor1: #2894E0;
    --cor2: #03588C;
    --cor3: #011640;
    --cor4: #010D26;

    --fonte-titulo: 'DM Serif Display', serif;
    --fonte-padrao: 'Instrument Serif', serif;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    /*background-color: var(--cor3);*/
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor1));
    padding: 10px;
}

header > h1 {
    text-align: center;
    font-family: var(--fonte-titulo);
    font-size: 4em;
    margin-bottom: 25px;
}

header > p {
    font-family: var(--fonte-titulo);
    color: var(--cor4);
    font-weight: normal;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

nav {
    padding: 10px;
    width: 600px;
    box-shadow: 0px 3px 3px var(--cor3);
    margin: auto;
    text-align: center;
}

nav a {
    font-family: var(--fonte-titulo);
    color: var(--cor4);
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.5s;
}

nav a:hover {
    background-color: var(--cor2);
    color: var(--cor0);
    text-decoration: underline;
}

/*
Formulários
------------------------------------------------------
------------------------------------------------------
*/

div#faleconosco {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    display: block;
    padding: 10px;
    letter-spacing: 2px;
}

div#faleconosco > label {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
}

form > div#campoNome, div#campoEmail, div#campoSexo {
    padding: 5px;
    background-color: #86d1ff;
    width: 55%;
    height: 30px;
    border-radius: 8px;
    margin: 5px 0px;
}

form > div.campos input {
    background-color: #2894E0;
    font-size: 1em;
    width: 80%;
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
}

form > div#campoNome input {
    transform: translate(20px, -4px);
}

form > div#campoEmail input {
    transform: translate(7px, -4px);
}

form > div.radio {
    display: inline-flex;
    overflow: hidden;
    border-radius: 8px;
}

form > div.radio p {
    display: inline;
}

form > div.radio input {
    background-color: #2894E0;
    height: 50%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
}

/*
Fim dos Formulários
------------------------------------------------------
------------------------------------------------------
*/


footer {
    box-shadow: inset 3px 3px 10px 0px var(--cor3);
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor3));

    font-size: 16px;
}

footer .container {
    font-family: var(--fonte-padrao);
    width: 800px;
    display: flex;
    justify-content: space-around;
    padding: 0px 8px;
    margin: auto;
}

footer h3 {
    font-size: 1.50em;
    text-align: center;
}

footer .info {
    width: 40%;
    margin-top: 10px;
    padding: 0px 10px;
}

footer .info > p{
    text-align: justify;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 0;
}

footer .familia, .institucional {
    width: 30%;
    margin-top: 10px;
}

footer .familia > ul{
    list-style-type: none;
    list-style-position: inside;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0;
    line-height: 1.8em;
}

footer .familia > ul > li > a{
    color: black;
    text-decoration: none;
}

footer .familia > ul > li > a:hover{
    color: var(--cor3);
    text-decoration: underline;
}

footer .institucional > ul{
    list-style-type: none;
    list-style-position: inside;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0;
    line-height: 1.8em;
}

footer .institucional > ul > li > a{
    color: black;
    text-decoration: none;
}

footer .institucional > ul > li > a:hover{
    color: var(--cor3);
    text-decoration: underline;
}

footer > p{
    background-color: var(--cor3);
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 20px 0;
}

footer > p > a{
    color: var(--cor1);
    text-decoration: none;
}